/* pikachu stylesheet */


/* import of google font */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.outer-container {
    border: 3px solid black;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

header {
    background-color: bisque;
    /*for pikachu */
    /* background-color:yellow; for charmander */
    /* background-color: darkturquoise; for squirtle */
    position: relative;
}

#logo {
    max-width: 100px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}

@media screen and (max-width: 620px) {
    #logo {
        position: relative;
        margin-left: 35%;
    }
}

#logo-title {
    font-size: 100px;
    text-align: center;
    margin: 0;
    font-family: 'Bebas Neue';
    letter-spacing: 6px;
}


/* Navigation */

nav {
    text-align: center;
    background-color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

nav ul li {
    display: inline;
    font-family: 'Bebas Neue';
    font-size: 36px;
    padding-right: 40px;
}

nav ul li:hover {
    color: mediumblue;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:visited {
    color: inherit;
    text-decoration: inherit;
}


/* Intro area */

.intro-container {
    background-color: khaki;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.image-container {
    max-width: 600px;
    margin: 0;
    padding: 3%;
    box-sizing: border-box;
}

.intro-image {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border: 6px solid black;
    box-sizing: border-box;
}

.intro-text {
    max-width: 600px;
    margin: 0;
    padding: 3%;
    box-sizing: border-box;
}


/* footer area */

footer {
    background-color: bisque;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 2px solid black;
}

footer p {
    margin: 0;
    text-align: center;
}


/* GALLERY */

.gallery-container {
    background-color: khaki;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery-image {
    width: 300px;
    height: 200px;
    padding: 5px;
    box-sizing: border-box;
    outline: 5px solid black;
    outline-offset: -10px;
}


/* FULL SCREEN IMAGE MODAL */

.modal {
    z-index: 1;
    display: none;
    padding-top: 10px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    position: absolute;
    max-height: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.close {
    text-decoration: none;
    float: right;
    font-size: 60px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    padding-right: 3%;
}

#fullsize-img {
    max-height: 90vh;
    width: auto;
}


/* ABOUT */

.about-container {
    background-color: khaki;
    overflow: auto;
    text-align: center;
}

.inside-about-container {
    font-family: 'Bebas Neue';
    text-align: left;
}